<%= form_for(@time_report) do |f| %>
  <% if @time_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_report.errors.count, "error") %> prohibited this time_report from being saved:</h2>

      <ul>
      <% @time_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.number_field :report_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :hours_worked %><br>
    <%= f.number_field :hours_worked %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :job_group %><br>
    <%= f.text_field :job_group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
