<p>
  <% if flash[:notice].present? %>
    <%= flash[:notice] %>
  <% end %>
</p>

<h1>Listing Payroll Reports</h1>
<p><%= link_to "Click here to upload a Time Report", time_reports_url %></p>
<table border="1">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Pay Period</th>
      <th>Amount Paid</th>
    </tr>
  </thead>

  <tbody>
    <% @payroll_reports.each do |payroll_report| %>
      <tr>
        <td><%= payroll_report[:employee_id] %></td>
        <td><%= payroll_report[:pay_period] %></td>
        <td><%= number_to_currency(payroll_report[:amount_paid]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

